@model BashkiaRaporton.Models.Bashkia

<div class=" w-100 h-100" style="min-height:400px;background-color:ghostwhite">
    <h1 class="text-center pt-5">
        Mireservjen ne Bashkine @Model.Emri
    </h1>
    <p class="text-center p-5">@Model.Pershkrimi</p>
</div>







<div class="justify-content-between justify-content-center mt-5 row">
    <div class="col-4 justify-content-center">
        <div class="card shadow" style="width: 18rem;">
            <h1 class="text-center">
                <span class="material-icons " style="font-size:70px">
                    login
                </span>
            </h1>

            <div class="card-body text-center">
                <h4>Hyni ne sistem</h4>
            </div>
        </div>
    </div>
    <div class="col-4 justify-content-center">
        <div class="card justify-content-center shadow" style="width: 18rem;">
            <h2 class="text-center">
                <span class="material-icons" style="font-size:70px">
                    receipt_long
                </span>
            </h2>

            <div class="card-body text-center">
                <h4>Kontrollo detyrimet</h4>
            </div>
        </div>
    </div>
    <div class="col-4 justify-content-center">
        <div class="card justify-content-center shadow" style="width: 18rem;">
            <h2 class="text-center">
                <span class="material-icons" style="font-size:70px">
                    supervisor_account
                </span>
            </h2>

            <div class="card-body text-center">
                <h4>Shmang Radhen</h4>
            </div>
        </div>
    </div>

</div>


