@model BashkiaRaporton.Models.NjesiaAdministrative

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label asp-for="Emri" class="control-label"></label>
            <input asp-for="Emri" onchange="AddNjesi()" class="form-control" />
            <span asp-validation-for="Emri" class="text-danger"></span>
        </div>

   

    </div>
</div>
<script>
       function AddNjesi() {
           var Emri = $("#Emri").val();

           $.ajax('@Url.Action("CreateNjesi", "NjesiaAdministratives")', {
               type: 'POST',
               data: { Emri: Emri },
               success: function (data, status, xhr) {
                   location.reload(true);
               },
               error: function (jqXhr, textStatus, errorMessage) {

               }
           });
       }
</script>